
languageCode = "en-us"

# Language settings
contentDir = "content"
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false
# Useful when translating.
enableMissingTranslationPlaceholders = true

enableGitInfo = true

[outputs]
    home = ["HTML", "print"]
    # Enable print this section menu item
    section = [ "HTML", "print" ]

[social]
# Used as twitter:site in page metadata
twitter = "AxoFlowIO"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
    # See a complete list of available styles at https://xyproto.github.io/splash/docs/all.html
    style = "tango"
    # Uncomment if you want your chosen highlight style used for code blocks without a specified language
    # guessSyntax = "true"

[params]

  email = "mailto:sales@axoflow.com"

  copyright = "Axoflow Inc."

  relativeURLs = true

  # Add project name to the header
  project_name = "AxoSyslog"
  product_name = "AxoSyslog"

  #hubspotId = ""

  ###############################################################################
  # Docsy-theme specific config customizations
  ###############################################################################

  # Flag used in the "version-banner" partial to decide whether to display a 
  # banner on every page indicating that this is an archived version of the docs.
  # Set this flag to "true" if you want to display the banner.
  archived_version = false

  # The version number for the version of the docs represented in this doc set.
  # Used in the "version-banner" partial to display a version number for the 
  # current doc set.
  # version = "4.2.0"
  version_menu_canonicallinks = true

  # A link to latest version of the docs. Used in the "version-banner" partial to
  # point people to the main doc site.
  url_latest_version = "/"

  # Repository configuration (URLs for in-page links to opening issues and suggesting changes)
  github_repo = "https://github.com/axoflow/axosyslog-docs"
  # An optional link to a related project repo. For example, the sibling repository where your product code lives.
  github_project_repo = "https://github.com/axoflow/axosyslog/"

  # Specify a value here if your content directory is not in your repo's root directory
  # github_subdir = ""

  # Uncomment this if your GitHub repo does not have "main" as the default branch,
  # or specify a new value if you want to reference another branch in your GitHub links
  # github_branch= "master"


  # Enable Lunr.js offline search
  offlineSearch = true

  #####
  # Code highlighting
  #####
  # Highlighting config
  pygmentsCodeFences = true
  pygmentsUseClasses = false
  # Use the new Chroma Go highlighter in Hugo.
  pygmentsUseClassic = false
  #pygmentsOptions = "linenos=table"
  # See https://help.farbox.com/pygments.html
  pygmentsStyle = "coy"
  # Enable syntax highlighting and copy buttons on code blocks with Prism
  prism_syntax_highlighting = true

  # Use tocbot for table of contents
  [params.jstoc]
  enable = true

  # User interface configuration
  [params.ui]
  #  Set to true to disable breadcrumb navigation.
  breadcrumb_disable = false
  # Set to true to disable the About link in the site footer
  footer_about_disable = false
  # footer in the left part of the logo
  footer_left_logo_disable = false
  footer_left_logo_file = "icons/logo.svg"
  # footer in the right part of the logo
  footer_right_logo_disable = false
  footer_right_logo_file = "icons/iso27001_badge01.svg"
  # Set to false if you don't want to display a logo (/assets/icons/logo.svg) in the top navbar
  navbar_logo = true
  # Set to true if you don't want the top navbar to be translucent when over a `block/cover`, like on the homepage.
  navbar_translucent_over_cover_disable = false
  # Enable to show the side bar menu in its compact state.
  #sidebar_menu_compact = false
  # Enable to make the side bar menu foldable.
  sidebar_menu_foldable = true
  # Set to true to hide the sidebar search box (the top nav search box will still be displayed if search is enabled)
  sidebar_search_disable = true
  sidebar_search_below_title = true # Enables search box below the doc title in the left sidebar

  [params.links]
  # End user relevant links. These will show up on left side of footer and in the community page if you have one.
  [[params.links.user]]
    name = "Community chat"
    url = "https://discord.gg/583Z4wjem2"
    icon = "fab fa-discord"
    desc = "Discussion and help from your fellow users"
  [[params.links.user]]
    name = "Linkedin"
    url = "https://www.linkedin.com/company/axoflow/"
    icon = "fab fa-linkedin"
    desc = "Follow us on Linkedin to get the latest news!"
  # Developer relevant links. These will show up on right side of footer and in the community page if you have one.
  #[[params.links.developer]]
  #  name = "GitHub"
  #  url = "https://github.com/axoflow/axosyslog/"
  #  icon = "fab fa-github"
  #  desc = "Get involved with Logging operator development"
  #[[params.links.developer]]
  #  name = "Slack"
  #  url = "https://banzaicloud.com/invite-slack/"
  #  icon = "fab fa-slack"
  #  desc = "Chat with the project developers"
  #[[params.links.developer]]
  #  name = "Developer mailing list"
  #  url = "https://example.org/mail"
  #  icon = "fa fa-envelope"
  #  desc = "Discuss development issues around the project"

###############################################################################
# Misc customizations
###############################################################################

enableRobotsTXT = false

enableGitInfo = true

# Image processing configuration.
[imaging]
resampleFilter = "CatmullRom"
quality = 75
anchor = "smart"

[minify]
  minifyOutput = true
  disableJSON = true
  [minify.tdewolff]
    [minify.tdewolff.html]
    keepQuotes = true
    keepWhitespace = true

[sitemap]
  ChangeFreq = "daily"
  Priority = "1"

[security]
  [security.funcs]
    getenv = ['^HUGO_', 'PWD', '^DOC_', 'ENVIRONMENT']

[privacy]
  [privacy.googleAnalytics]
    respectDoNotTrack = true

###############################################################################
# Hugo - Top-level navigation (horizontal)
###############################################################################
# top level [menus] key is omitted because we use a separate file
[menus]
[[menus.main]]
  name = "Solutions"
  weight = -200
  url = "/"
  identifier = "solutions"
  [[menus.main]]
    name = "Case Studies"
    weight = 100
    url = "/"
    identifier = "case-studies"
    parent = "solutions"
    [[menus.main]]
      name = "Observability and Data Filtering Case Study – Large Healthcare Company"
      weight = 100
      url = "https://axoflow.com/case-studies/observability-data-filtering-large-healthcare-company?utm_source=docs&utm_medium=menu"
      identifier = "case-study-large-healthcare"
      parent = "case-studies"
    [[menus.main]]
      name = "Data Quality Case Study – Large Government Organization"
      weight = 100
      url = "https://axoflow.com/case-studies/large-government-organization-data-quality-improvement?utm_source=docs&utm_medium=menu"
      identifier = "case-study-large-gov-org"
      parent = "case-studies"
    [[menus.main]]
      name = "Data Reduction Case Study Axoflow – Global Industrial Concern"
      weight = 100
      url = "https://axoflow.com/case-studies/global-industrial-concern-security-data-reduction?utm_source=docs&utm_medium=menu"
      identifier = "case-study-global-industrial-concern"
      parent = "case-studies"
  [[menus.main]]
    name = "Comparisons"
    weight = 200
    url = "/"
    identifier = "comparisons"
    parent = "solutions"
    [[menus.main]]
      name = "Axoflow vs Cribl"
      weight = 100
      url = "https://axoflow.com/axoflow-platform-vs-cribl?utm_source=docs&utm_medium=menu"
      identifier = "cribl"
      parent = "comparisons"
    [[menus.main]]
      name = "Axoflow vs NXLog"
      weight = 110
      url = "https://axoflow.com/axoflow-platform-vs-nxlog?utm_source=docs&utm_medium=menu"
      identifier = "nxlog"
      parent = "comparisons"
    [[menus.main]]
      name = "Axoflow vs syslog-ng PE"
      weight = 120
      url = "https://axoflow.com/axoflow-platform-vs-syslog-ng-pe?utm_source=docs&utm_medium=menu"
      identifier = "syslog-ng-pe"
      parent = "comparisons"
    [[menus.main]]
      name = "Axoflow vs SC4S"
      weight = 140
      url = "https://axoflow.com/axoflow-platform-vs-sc4s"
      identifier = "sc4s"
      parent = "comparisons"
  [[menus.main]]
    name = "Integrations"
    weight = 300
    url = "/"
    identifier = "integrations"
    parent = "solutions"
    [[menus.main]]
      name = "Axoflow + Google Cloud"
      weight = 100
      url = "https://axoflow.com/integrations/google-secops-data-optimization?utm_source=docs&utm_medium=menu"
      identifier = "integration-google"
      parent = "integrations"
    [[menus.main]]
      name = "Axoflow + Splunk"
      weight = 200
      url = "https://axoflow.com/integrations/splunk-ingest-optimization-gdi?utm_source=docs&utm_medium=menu"
      identifier = "integration-splunk"
      parent = "integrations"
    [[menus.main]]
      name = "Axoflow + Microsoft Sentinel"
      weight = 300
      url = "https://axoflow.com/integrations/microsoft-sentinel-data-optimization?utm_source=docs&utm_medium=menu"
      identifier = "integration-microsoft"
      parent = "integrations"
    [[menus.main]]
      name = "Other integrations"
      weight = 300
      url = "https://axoflow.com/docs/axoflow/destinations/?utm_source=docs&utm_medium=menu"
      identifier = "integration-other"
      parent = "integrations"
  [[menus.main]]
    name = "For Managed Service Providers"
    weight = 600
    url = "https://axoflow.com/mssp-soc-automation?utm_source=docs&utm_medium=menu"
    identifier = "mssp-soc-automation"
    parent = "solutions"
  [[menus.main]]
    name = "Storage Solutions"
    weight = 700
    url = "https://axoflow.com/storage-solutions-security-data?utm_source=docs&utm_medium=menu"
    identifier = "storage-overview"
    parent = "solutions"
[[menus.main]]
  name = "Products"
  weight = -130
  url = "/"
  identifier = "product"
  [[menus.main]]
    name = "Axoflow Platform"
    weight = -120
    url = "https://axoflow.com/axoflow-platform?utm_source=docs&utm_medium=menu"
    parent = "product"
  [[menus.main]]
    name = "AxoLake"
    weight = 20
    url = "https://axoflow.com/axolake-petabyte-security-data-storage?utm_source=docs&utm_medium=menu"
    identifier = "axolake"
    parent = "product"
  [[menus.main]]
    name = "AxoRouter"
    weight = -100
    url = "https://axoflow.com/axorouter?utm_source=docs&utm_medium=menu"
    parent = "product"
  [[menus.main]]
    name = "Axoflow Locker"
    weight = 30
    url = "https://axoflow.com/axostore-software-appliance-logstore?utm_source=docs&utm_medium=menu"
    identifier = "axostore"
    parent = "product"

[[menus.main]]
  name = "Resources"
  weight = -120
  url = "/"
  identifier = "resources"
[[menus.main]]
  name = "Blog"
  weight = -150
  url = "https://axoflow.com/blog?utm_source=docs&utm_medium=menu"
  parent = "resources"
[[menus.main]]
  name = "Documentation"
  weight = -120
  #pre = "<i class='fas fa-book pr-2'></i>"
  url = "/"
  identifier = "documentation"
  parent = "resources"
  [[menus.main]]
    name = "Overview"
    weight = -200
    url = "https://axoflow.com/docs/?utm_source=docs&utm_medium=menu"
    identifier = "documentation-overview"
    parent = "documentation"
  [[menus.main]]
    name = "Axoflow Platform"
    weight = -120
    url = "https://axoflow.com/docs/axoflow/?utm_source=docs&utm_medium=menu"
    identifier = "documentation-axoflow"
    parent = "documentation"
[[menus.main]]
  name = "Webinars"
  weight = 120
  url = "/"
  identifier = "webinars"
  parent = "resources"
  [[menus.main]]
    name = "Show me your labels"
    weight = 500
    url = "https://axoflow.com/webinars/show-me-your-labels-and-ill-tell-you-who-you-are?utm_source=docs&utm_medium=menu"
    identifier = "webinar-show-me-your-labels"
    parent = "webinars"
  [[menus.main]]
    name = "Solve the Malformed Message Madness"
    weight = 600
    url = "https://axoflow.com/webinars/solve-the-malformed-message-madness?utm_source=docs&utm_medium=menu"
    identifier = "webinar-solved-malformed-message-madness"
    parent = "webinars"
  [[menus.main]]
    name = "Reduced and Actionable Security Data"
    weight = 700
    url = "https://axoflow.com/webinars/feed-your-siem-reduced-and-actionable-security-data?utm_source=docs&utm_medium=menu"
    identifier = "webinar-reduced-actionable-security-data"
    parent = "webinars"
  [[menus.main]]
    name = "Parsing Sucks"
    weight = 800
    url = "https://axoflow.com/webinars/parsing-sucks-what-can-you-do-about-it?utm_source=docs&utm_medium=menu"
    identifier = "webinar-parsing-sucks"
    parent = "webinars"
  [[menus.main]]
    name = "Resilient Syslog Architectures"
    weight = 900
    url = "https://axoflow.com/webinars/resilient-syslog-architectures?utm_source=docs&utm_medium=menu"
    identifier = "webinar-resilient-syslog"
    parent = "webinars"
[[menus.main]]
  name = "White Papers"
  weight = 120
  url = "/"
  identifier = "white-papers"
  parent = "resources"
  [[menus.main]]
    name = "Optimize Splunk Performance"
    weight = 10
    url = "https://axoflow.com/white-papers/optimize-splunk-performance-before-gdi/?utm_source=docs&utm_medium=menu"
    identifier = "white-paper-optimize-splunk"
    parent = "white-papers"
  [[menus.main]]
    name = "Observability Pipeline and Metrics"
    weight = 20
    url = "https://axoflow.com/white-papers/observability-pipeline-metrics-control-telemetry-data-white-paper/?utm_source=docs&utm_medium=menu"
    identifier = "white-paper-observability-pipeline-metrics"
    parent = "white-papers"
  [[menus.main]]
    name = "Scalable Syslog Architectures"
    weight = 50
    url = "https://axoflow.com/white-papers/white-paper-scalable-syslog-architecture-best-practices/?utm_source=docs&utm_medium=menu"
    identifier = "white-paper-scalable-syslog"
    parent = "white-papers"
[[menus.main]]
  name = "Podcast"
  weight = 150
  url = "https://axoflow.com/data-strikes-back-podcast?utm_source=docs&utm_medium=menu"
  parent = "resources"

[[menus.main]]
  name = "Open Source"
  weight = -80
  url = "/"
  identifier = "opensource"
  [[menus.main]]
    name = "AxoSyslog vs syslog-ng"
    weight = 10
    url = "https://axoflow.com/axosyslog-vs-syslog-ng?utm_source=docs&utm_medium=menu"
    identifier = "syslog-ng"
    parent = "opensource"
  [[menus.main]]
    name = "AxoSyslog vs syslog-ng"
    weight = 20
    url = "https://axoflow.com/axosyslog-vs-syslog-ng?utm_source=docs&utm_medium=menu"
    identifier = "syslog-ng"
    parent = "opensource"
  [[menus.main]]
    name = "AxoSyslog"
    weight = 30
    url = "https://axoflow.com/docs/axosyslog-core/"
    identifier = "documentation-axosyslog"
    parent = "opensource"
  [[menus.main]]
    name = "Logging operator"
    weight = 40
    url = "https://kube-logging.dev/docs/"
    identifier = "documentation-logging-operator"
    parent = "opensource"
[[menus.main]]
  name = "About"
  weight = -50
  url = "/"
  identifier = "about"
[[menus.main]]
  name = "News"
  weight = -105
  url = "https://axoflow.com/news?utm_source=docs&utm_medium=menu"
  parent = "about"
[[menus.main]]
  name = "About us"
  weight = -100
  #pre = "<i class='fas fa-blog pr-2'></i>"
  url = "https://axoflow.com/about-us?utm_source=docs&utm_medium=menu"
  parent = "about"
[[menus.main]]
  name = "Contact"
  weight = 100
  url = "https://axoflow.com/contact?utm_source=docs&utm_medium=menu"
  parent = "about"
[[menus.main]]
  name = "Our Partners"
  weight = 150
  url = "https://axoflow.com/partners?utm_source=docs&utm_medium=menu"
  parent = "about"

[[menus.main]]
  name = "Login"
  weight = 100
  url = "https://login.axoflow.io/?utm_source=docs&utm_medium=menu"
  identifier = "menu-login"

[[menus.main]]
  name = "Request Sandbox"
  weight = 150
  url = "https://axoflow.com/request-sandbox?utm_source=docs&utm_medium=menu"
  identifier = "menu-button"
