<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-display="static" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span>{{ .Name }}</span>
</a>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{ range .Children }}
      {{ if .HasChildren }}
        <!-- Processing submenus with submenus  -->
        <li class="dropdown-submenu">
            <a class="dropdown-item
            dropdown-toggle" href="{{ .URL | relLangURL }}">
              {{ .Name }}
              {{ with .Params.description }}
              <br/>
              <span class="small text-dark text-wrap">{{ safeHTML . }}</span>
              {{ end }}
            </a>
            <ul class="dropdown-menu">
            {{ range .Children }}
                <li><a class="dropdown-item"
                href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
          {{ end }}
          </ul>
        </li>
      {{ else }}
      <!-- Processing submenus without further children -->
      <a class="dropdown-item" href="{{ .URL | relLangURL }}">
        {{ .Name }}
        {{ with .Params.description }}
        <br/>
        <span class="small text-dark text-wrap">{{ safeHTML . }}</span>
        {{ end }}
      </a>
      {{ end }}
    {{ end }}
</ul>
</li>