$navbar-dark-color: #0F1425; // eerie black // navbar text
$blue: #496bb8 !default; // Override breadcrumb and sidebar text color to increase contrast
$primary: white !default;

$dark: black;

$warning: #FF6500 !default; // main color
$light: #FFF7F2 !default; // light orange
$success: #1f224b !default;

$light-background: #FFF7F2;

$navbar-padding-y: 27px; // Increases navbar size. Also requires to increase top margins (mt-5) on the main and aside elements, otherwise they overlap

$breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M15.4 12L9.4 18L8 16.6L12.6 12L8 7.4L9.4 6L15.4 12Z' fill='currentColor'/%3E%3C/svg%3E");
$breadcrumb-active-color: #141D62;  // space cadet

$link-color: #010A22;

$google_font_name: "Poppins";
$google_font_family: "Poppins:300,300i,400,400i,700,700i|Roboto+Mono";

$font-family-monospace: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default; // TODO: consider moving into UG SCSS or namespace the var (td-)