<!-- Custom HTML elements that are added to the bottom of the right sidebar -->
  <!-- <div class="cta-sidebar hidden">
    <a href="http://axoflow.com/webinar-show-me-your-labels/?utm_source=docs&utm_medium=banner">
      <img alt="banner_webinar_reduce_data" loading="lazy" src='{{ "img/banner_webinar_syslog_visibility.svg" | relURL }}' style="height: 100%; width: 100%; object-fit: fill"
        onerror="this.style.display='none'" /></a>
  </div> -->
  
  <!--<div class="cta-sidebar hidden">
    hubspot embed code
  </div>-->
  
  <style onload="displayRandomDiv()"></style>
  <script>
    function displayRandomDiv() {
      // Select all div elements with class 'cta-sidebar'
      const divs = document.querySelectorAll('.cta-sidebar');
      // Generate a random index
      const randomIndex = Math.floor(Math.random() * divs.length);
      // Display the randomly selected div
      divs[randomIndex].classList.remove('hidden');
    }
  </script>
