{{ with .Page.Params.redirect }} <meta http-equiv="refresh" content="0;URL='{{ . }}'" /> {{ end }}

{{ if .Site.Params.offlineSearchPagefind -}}
<!-- Needed to highlight search keyword on the result page -->
{{ $pagefind_highlight_url := "pagefind/pagefind-highlight.js" | relURL }}
<script
  src='{{ $pagefind_highlight_url }}'
    type="application/x-javascript"></script>
    <script type="module">
        await import({{ $pagefind_highlight_url }});
        new PagefindHighlight({ highlightParam: "highlight" });
    </script>
{{ end -}}

<!-- Enable replacing parameters from URL parameter -->
{{ if .Params.replaceFromURL }}
    <script src="{{ "js/replace-from-url.js" | relURL }}" type="application/x-javascript" defer></script>
{{ end }}

<!-- Load material icons if needed. Use it like this: <span class="material-icons">face</span>
Don't add rel="preconnect" or rel="dns-prefetch" to the links, they break -->
{{ if .HasShortcode "insert-material-icon" }}
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
{{ end }}
{{ if .HasShortcode "insert-pictogrammer-icon" }}
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css" rel="stylesheet">
{{ end }}